[submodule "lib/account-abstraction"]
	path = lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
	ignore = dirty
[submodule "lib/bitcoin-spv"]
	path = lib/bitcoin-spv
	url = https://github.com/bob-collective/bitcoin-spv
	ignore = dirty
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	ignore = dirty
[submodule "lib/gsn"]
	path = lib/gsn
	url = https://github.com/opengsn/gsn
	ignore = dirty
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	ignore = dirty
[submodule "contracts/lib/account-abstraction"]
	path = contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
	ignore = dirty
[submodule "contracts/lib/bitcoin-spv"]
	path = contracts/lib/bitcoin-spv
	url = https://github.com/bob-collective/bitcoin-spv
	ignore = dirty
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	ignore = dirty
[submodule "contracts/lib/gsn"]
	path = contracts/lib/gsn
	url = https://github.com/opengsn/gsn
	ignore = dirty
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	ignore = dirty
