/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.button {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: var(--ifm-color-primary);
  color: #fff;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid var(--ifm-color-primary-dark);
}

@media screen and (max-width: 996px) {
  .button {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}