name: Contracts

on: [pull_request]

env:
  FOUNDRY_PROFILE: ci
  BOB_PROD_PUBLIC_RPC_URL: "https://rpc.gobob.xyz/"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
    defaults:
      run:
        working-directory: contracts
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.1
      - name: Install deps
        run: |
          forge soldeer install
      - name: Run forge tests
        run: |
          forge test -vvv --deny-warnings
      - name: Check fmt
        run: forge fmt --check
      - name: Versions
        run: |
          forge --version
          git submodule status
