---
name: SDK NPM Publish
on:
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: ./sdk
    steps:
      - uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
          cache-dependency-path: sdk/package-lock.json
      - name: install tokenlist dependencies
        working-directory: ./tokenlist
        run: npm ci
      - run: npm ci
      - run: npm run build
      - run: npm publish --access public
