name: test

on: [pull_request]

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    name: Foundry
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Forge fmt
        run: |
          forge --version
          forge fmt --check
        id: fmt

      - name: Run Forge build
        run: |
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test

      - name: Run Forge docs
        run: |
          forge doc --out docs/docs/contracts
          cd docs/scripts
          python3 forge_doc_reformat.py

      - name: Commit Forge docs
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: Generate Foundry docs"
          file_pattern: "./docs/"
